.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
    text-align: center;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  h2{
    margin: 20px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
  }


  .play-reset{
    display: inline;
  }
  .button{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
    gap: 2rem;
  }
  
  button{
    padding: 0.5rem 3rem;
    color: #232931;
    font-size: 2rem;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
  }

  .reset-btn{
    color: #fff;
    background-color: #232931;
  }
  
  button:hover{
    background-color: #232931;
    color: #fff;
  }

  .reset-btn:hover{
    background-color: #fff;
    color: #232931;
  }
  
  .side-of-dice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  @media (max-width: 620px){
    
    .container{
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
    }
    .container-grid .grid button{
      padding: 1.8rem ;
    }

    .side-of-dice{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .side-of-dice h2{
      text-align: center;
    }


    h1 {
      font-size: 2.5rem;
      color: #4ECCA3;
      margin-top: 6rem;
    }
  
    p {
      font-size: 1.5rem;
    }
  
    img{
      font-size: 3rem;
      text-align: center;
      width: 80%;
    }
  }
  